/* 
.card{
    width: 100vw;
    height: 400px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 23px;
    background-color: rgb(245, 241, 241);
} */

/* .inside1{
    display: inline-block;
    width: 190px;
    margin-top: 0px;
    height: 180px;
    padding: 0;
    border:1px solid black;
}
.inside2{
    
    display: inline-block;
    width: 190px;
    margin-top: -4px;
    height: 180px;
    padding: 0;
    border:1px solid black;
}
.imgh{
    background-image: url("../img/defaultPic.jpg");
    background-size: contain;
    width: 190px;
    height: 180px;
    border-radius: 5px;
}
.backw{
    background-color: white;
    display: table-cell;
    text-align: center;
    vertical-align:middle ;
    width: 190px;
    height: 180px;
    border-radius: 5px;
}

.backb{
    background-color: black;
    color: white;
    display: table-cell;
    text-align: center;
    vertical-align:middle ;
    width: 190px;
    height: 180px;
    border-radius: 5px;
}

671px */

/* @media screen and (max-width:671px){
    .card{
        width: 98vw;
        /* width: auto; 
        /* margin: auto; 
        height: 64vw;
        padding-top: 2.5vw;
        padding-left: 2.5vw;
        padding-right: 2.5vw;
        margin-left: calc(-2rem + 1vw);
        margin-right: calc(-2rem + 1vw);

        margin-top: 1vw;
        margin-bottom: 1vw;

    } */
    /* .inside1,.inside2,.backb,.backw,.imgh{
        width: 30vw;
        height: 29.5vw;
    } */



/* @media screen and (max-width:517px){
    .card{
        width: 80vw;
        margin: auto;
        height: fit-content;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-top: 23p
    }
    .backb,.backw{

    }
} */



.member{
    display: inline-block;
    width: 245px;
    height: 540px;
    font-size: 20px;
    /* background-color: grey; */
    color: grey;
    text-align: center;
    margin: 10px;
   
}

.imgh1{
    width: 236px;
    height: 300px;
    object-fit: cover;
    z-index: 1000;
    border-radius: 10px;
}